.center {
  display: flex;
  justify-content: space-around;
}
.col-style {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.output-intro {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.logo {
  width: 30%;
  position:absolute;
}

.logo-two {

  width: 30%;
  position:absolute;

}
.text-columns {
  margin-top: 50px;
}

.bottom-logo {
  margin-top: 125px;
}

.box {
  margin-top: 350px;
  width: 100px;
  height: 10vh;
  background-color: rgba(30,215,115,.8);
  border: 8px solid #d71e82;
  border-radius: 15px;
}
