.center {
  display: flex;
  justify-content: space-around;
}
.col-style {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.output-intro {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.logo {
  width: 30%;
  position:absolute;
}

.logo-two {

  width: 30%;
  position:absolute;

}
.text-columns {
  margin-top: 500px;
}
